{
  "*.{js,jsx,ts,tsx}": [
    "cspell --no-summary --no-progress",
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,html,css}": [
    "cspell --no-summary --no-progress",
    "prettier --write"
  ],
  "*.{yml,yaml}": [
    "prettier --write"
  ]
}
